<?xml version="1.0" encoding="utf-8" ?>
<SkinTemplates>
    <SkinTemplate Name="GreenPark" StyleMergeMode="MergedAfter">
        <Styles>
            <Style href="~/skins/GreenPark/style.css" />  
        </Styles>
      <Scripts>
        <Script Src="~/skins/GreenPark/scripts/GreenPark.js" Defer="true" />
      </Scripts>
    </SkinTemplate>
</SkinTemplates>