<?xml version="1.0" encoding="utf-8" ?>
<SkinTemplates>
    <SkinTemplate Name="suffusion" StyleMergeMode="MergedAfter">
        <Styles>
          <Style href="~/skins/suffusion/style.css" />
          <Style href="~/skins/suffusion/stylelightgray.css" />
          <Style href="~/skins/suffusion/rounded-corners.css" />
        </Styles>
    </SkinTemplate>
</SkinTemplates>