<?xml version="1.0" encoding="utf-8" ?>
<SkinTemplates>
    <SkinTemplate Name="FiftyFifthStreet" StyleMergeMode="MergedAfter">
        <Styles>
            <Style href="~/skins/FiftyFifthStreet/style.css" />  
        </Styles>
      <Scripts>
        <Script Src="~/skins/FiftyFifthStreet/scripts/FiftyFifthStreet.js" Defer="true" />
      </Scripts>
    </SkinTemplate>
</SkinTemplates>