<?xml version="1.0" encoding="utf-8" ?>
<SkinTemplates>
    <SkinTemplate Name="brightfolio" StyleMergeMode="MergedAfter">
        <Styles>
            <Style href="~/skins/brightfolio/style.css" />
          <Style href="ie7.css" conditional="if IE 7" />
          <Style href="ie8.css" conditional="if IE 8" />
        </Styles>
    
    </SkinTemplate>
</SkinTemplates>