<?xml version="1.0" encoding="utf-8" ?>
<SkinTemplates>
  <SkinTemplate Name="BootstrapBasicFixed" StyleMergeMode="MergedAfter">
    <Scripts>
      <Script Src="js/bootstrap.min.js" />    
    </Scripts>
    <Styles>
      <Style href="css/bootstrap.css" />
      <Style title="fixed" href="style.css" />
    </Styles>
  </SkinTemplate>
</SkinTemplates>