<?xml version="1.0" encoding="utf-8" ?>
<SkinTemplates>
    <SkinTemplate Name="Titan" StyleMergeMode="MergedAfter">
        <Styles>            
            <Style href="ie.css" conditional="if lt IE 8" />
            <Style href="~/skins/Titan/style.css" />          
        </Styles>
      
    </SkinTemplate>
</SkinTemplates>